{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
      "node": true,
      "browser": true,
      "es6": true,
      "jquery": true,
      "mocha": true
  },
  "rules": {
    "arrow-body-style": [0],
    "comma-dangle": [0],
    "guard-for-in": [0],
    "no-console": [0],
    "no-underscore-dangle": [0],
    "no-throw-literal": [0],
    "no-unneeded-ternary": [0],
    "padded-blocks": [0],
    "space-in-parens": [0]
  }
}
