a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: all 0.2s;
  &:hover {
    transition: all 0.2s;
    color: #535bf2;
  }
}

@media (prefers-color-scheme: light) {
  a {
    &:hover {
      color: #747bff;
    }
  }
}
